In [27]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,  mean_squared_error

In [28]:
data = pd.read_csv('C:\\Users\\Jose\\Downloads\\RoadAccidents.csv')
data

,Number_of_vehicles_involved,Number_of_casualties,Road Conditions,Weather Conditions,Accident Severity
0,2,2,0,0,0
1,2,2,0,0,0
2,2,2,0,1,0
3,2,2,0,1,0
4,2,2,0,1,0
5,1,1,1,1,1
6,1,1,0,1,1
7,2,1,0,1,0
8,2,1,2,1,0
9,2,1,0,1,0
10,2,1,0,1,0
11,2,1,3,2,0
12,2,2,2,2,0
13,2,2,0,0,1
14,2,2,0,2,0
15,2,3,0,3,0
16,2,3,0,1,0
17,2,3,1,1,0
18,2,3,1,1,0
19,2,1,1,1,0
20,2,1,1,1,0
21,1,1,3,3,0
22,2,1,0,1,0
23,2,1,1,1,0
24,2,3,1,1,0
25,2,3,0,1,1
26,2,3,0,1,0
27,1,1,1,1,0
28,2,1,0,1,1
29,2,1,1,1,1

In [29]:
print("Shape of the dataset:", data.shape)

Shape of the dataset: (30, 5)

In [30]:
data.describe()

,Number_of_vehicles_involved,Number_of_casualties,Road Conditions,Weather Conditions,Accident Severity
count,30.000000,30.000000,30.000000,30.000000,30.000000
mean,1.866667,1.733333,0.633333,1.133333,0.200000
std,0.345746,0.827682,0.889918,0.681445,0.406838
min,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,0.000000,1.000000,0.000000
50%,2.000000,1.500000,0.000000,1.000000,0.000000
75%,2.000000,2.000000,1.000000,1.000000,0.000000
max,2.000000,3.000000,3.000000,3.000000,1.000000

In [31]:
# Split the data into features (X) and the target variable (y)

In [34]:
X = df[['Number_of_vehicles_involved', 'Number_of_casualties', 'Road Conditions', 'Weather Conditions']]
y = df['Accident Severity']

In [35]:
# Split the data into a training set and a test set

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
# Create and train the linear regression model

In [38]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [39]:
# Make predictions on the test set

In [40]:
y_pred = model.predict(X_test)

In [41]:
y_pred

array([ 0.83761008, -0.32903128,  0.22066505,  0.09746432,  0.17749772,
        0.26383237])

In [42]:
# Evaluate the model

In [43]:
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.16152625830397802

In [44]:
#Accuracy

In [46]:
accuracy = mean_absolute_error(y_test,y_pred)
accuracy

0.3210168033201741

In [47]:
#Save the model fo future use

In [48]:
import joblib

In [49]:
joblib.dump(model,'Road_Accident_Severity.pkl')

['Road_Accident_Severity.pkl']